.main{
  display: flex;
  align-items: stretch;
  height: calc(100vh - 51px);
  background-color: #DDDDDD;
  .main__container{
    padding-top: 2em;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex:1;
    flex-wrap: wrap;
    .create-site{
      .create-site__container{
        display: flex;
        flex-direction: column;
        .create-site__label{
          font-family: 'Nunito Sans';
          font-size: 1.2em;
          font-weight: bolder;
          color:#100e22;
        }
        .create-site__btn{
          outline: none;
          border: none;
          background-color: #100e22;
          color:#dddddd;
          font-family: 'Nunito Sans';
          font-size: 1.4em;
          cursor: pointer;
          &:active{
            background-color: #787878;;
          }
        }
        .create-site__input{
          margin-bottom: .5em;
          margin-top: .5em;
          border: 1px solid #100e22;
          background-color: #DDDDDD;
          outline: none;
          font-family: 'Nunito Sans';
          color:#100e22;
          font-size: 1.4em;
          &:active{
            background-color: #100e22;
            color:#dddddd;
          }
          &:focus{
            background-color: #100e22;
            color:#dddddd;
          }
        }
      }
    }
    .site-list{
      margin-left: 2em;
      .site-list__container{
        .site-list__header{
          font-family: 'Nunito Sans';
          font-size: 1.2em;
          color:#100e22;
          font-weight: bolder;
        }
        .site-list__items{
          .site-list__items-container{
            display: flex;
            flex-direction: column;
            .site-item{
              display: flex;
              margin-top: 1em;
              flex-direction: row;
              justify-content: flex-start;
              .site-item__name{
                font-family: 'Nunito Sans';
                font-size: 1.2em;
                align-self: center;
                padding-right: 1em;
              }
            }
          }
        }
      }
    }
  }
}

.config-list{

  margin-left: 1em;
  .config-list__container{
    .config-list__header{
      font-family: 'Nunito Sans';
      font-size: 1.2em;
      font-weight: bolder;
      color:#100e22;
    }
    .config{
      .config__container{
        display: flex;
        flex-direction: column;
        .config-item{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .config-item__description{
            max-width: 500px;
            font-family: 'Nunito Sans';
            font-size: 0.9em;
            padding-top: 0.3em;
          }
          .config-item__version{
            font-family: 'Nunito Sans';
            font-size: 1em;
            font-weight: bolder;
          }
          .config-item__name{
            font-family: 'Nunito Sans';
            font-size: 1.2em;
            padding-top: 1em;
            color:#100e22;
          }
        }
      }
    }
  }
}






.modal-hidden{
  display: none;
}
.modal{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  .modal-layer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 90;
  }
  .modal-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    min-height: auto;
    min-width: 500px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    .modal--header{
      display: flex;
      flex-direction: row;
      min-height: 50px;
      .modal--header__text{
        flex-basis: 100%;
        font-family: 'Nunito Sans';
        font-size: 1.2em;
        color:#100e22;
        display: flex;
        justify-content: flex-start;
        padding-left: 1em;
        align-self: center;
      }
      .square-container{
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        .square{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          .square-item{
            position: absolute;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: all ease 0.5s;
            &:hover{
              &:before{
                background-color: #dddddd;
              }
              &:after{
                background-color: #dddddd;
              }
            }
            &:before{
              content: "";
              display: inline-block;
              width: 100%;
              height: 5px;
              background-color: #000;
              position: absolute;
              top: 50%;
              left:50%;
              transform: translate(-50%,-50%) rotate(45deg);
              transition: all ease 0.5s;
            }
            &:after{
              content: "";
              display: inline-block;
              width: 100%;
              height: 5px;
              background-color: #000;
              position: absolute;
              top: 50%;
              left:50%;
              transform: translate(-50%,-50%) rotate(-45deg);
              transition: all ease 0.5s;
            }
          }
        }
      }
    }
  }
}








.modal-body__delete{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  .delete-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    h1{
      font-family: 'Nunito Sans';
      font-size: 1.4em;
      color:#100e22;
      font-weight: bolder;
    }
    .delete-btn__container{
      margin-top: 2em;
      margin-bottom: 4em;
      button{
        outline: none;
        border: none;
        background-color: #100e22;
        color:#dddddd;
        font-family: 'Nunito Sans';
        font-size: 1.4em;
        cursor: pointer;
        &:active{
          background-color: #787878;;
        }
      }
    }
  }
}












.modal-body__change{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  .change-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width:90%;
    h1{
      font-family: 'Nunito Sans';
      font-size: 1.5em;
      color:#100e22;
      font-weight: bolder;
    }
    .input-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:100%;
      input{
        margin-bottom: .5em;
        margin-top: .5em;
        border: 1px solid #100e22;
        background-color: #ffffff;
        outline: none;
        font-family: 'Nunito Sans';
        color:#100e22;
        font-size: 1.4em;
        &:active{
          background-color: #100e22;
          color:#dddddd;
        }
        &:focus{
          background-color: #100e22;
          color:#dddddd;
        }
      }
      label{
        font-family: 'Nunito Sans';
        font-size: 1.1em;
        color:#100e22;
      }
      textarea{
        margin-bottom: .5em;
        margin-top: .5em;
        border: 1px solid #100e22;
        background-color: #ffffff;
        outline: none;
        font-family: 'Nunito Sans';
        color:#100e22;
        resize: none;
        &:active{
          background-color: #100e22;
          color:#dddddd;
        }
        &:focus{
          background-color: #100e22;
          color:#dddddd;
        }
      }
      .btn-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 2em;
        button{
          outline: none;
          border: none;
          background-color: #100e22;
          color:#dddddd;
          font-family: 'Nunito Sans';
          font-size: 1.4em;
          cursor: pointer;
          &:active{
            background-color: #787878;;
          }
        }
        button:nth-child(2) {
          margin-left: .3em;
        }
      }
    }
  }
}