@keyframes turnHover {
  from{
    transform: rotate(0deg) translateY(-50%);
  }
  to{
    transform: rotate(360deg) translateY(-50%);
  }
}
@keyframes closeHoverB {
  from{
    transform: translate(-50%,-50%) rotate(45deg);
  }
  to{
    transform: translate(-50%,-50%) rotate(405deg);
  }
}
@keyframes closeHoverA {
  from{
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  to{
    transform: translate(-50%,-50%) rotate(315deg);
  }
}
body{
  margin-top: 51px;
}
.navbar{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #100e22;
  .navbar__block{
    .navbar__block-item{
      display: flex;
      flex-direction: row;

      .navbar__icons{
        width:100%;
        display: flex;
        flex-direction: row;
        .nav-icons__container{
          justify-content: flex-end;
          align-items: center;
          width:100%;
          display: flex;
          .icon-item__block{
            margin-right: .5em;
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            &:hover > .turn {
              animation: turnHover .5s linear ;
            }
            &:hover > .close {
              &:before{
                animation: closeHoverB .5s linear ;
              }
              &:after{
                animation: closeHoverA .5s linear ;
              }
            }
            &:hover > .resize{
              transform: rotate3d(180,0,0,-180deg);
            }
            .turn{
              position: absolute;
              width: 100%;
              height: 5px;
              background-color: #dddddd;
              top:50%;
              transform: translateY(-50%);

            }
            .resize{
              position: absolute;
              width: 20px;
              height: 20px;
              box-sizing: border-box;
              cursor: pointer;
              transition: all ease 0.5s;
              border: 5px solid #06af23;
              border-radius:50%;
              cursor: pointer;
            }
            .close{
              position: absolute;
              width: 100%;
              height: 100%;
              cursor: pointer;
              transition: all ease 0.5s;
              &:before{
                content: "";
                display: inline-block;
                width: 100%;
                height: 5px;
                background-color: #af0000;
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%) rotate(45deg);
                transition: all ease 0.5s;
              }
              &:after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 5px;
                background-color: #af0000;
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%) rotate(-45deg);
                transition: all ease 0.5s;
              }
            }
          }
        }
      }




      .navbar-list__container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .navbar-list__item{
          padding-left: 10px;
          padding-top: 1em;
          padding-bottom: 1em;
          padding-right: 10px;
          transition: all 0.4s ease;
          & > a{
            color:#dddddd;
            text-decoration: none;
            font-family: 'Montserrat';
            font-size: 1.2em;
            font-weight: bolder;
            transition: all 0.4s ease;
          }
          &:hover{
            background-color: #dddddd;
            & > a{
              color:#100e22;
            }
          }
        }
      }
    }
  }
}
