.navbar{
  background-color: #100e22;
  .navbar__block{
    .navbar__block-item{
      .navbar-list__container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .navbar-list__item{
          padding-left: 10px;
          padding-top: 1em;
          padding-bottom: 1em;
          padding-right: 10px;
          transition: all 0.4s ease;
          & > a{
            color:#dddddd;
            text-decoration: none;
            font-family: 'Montserrat';
            font-size: 1.2em;
            font-weight: bolder;
            transition: all 0.4s ease;
          }
          &:hover{
            background-color: #dddddd;
            & > a{
              color:#100e22;
            }
          }
        }
      }
    }
  }
}
