@keyframes plusAnimate {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}


.options {
  position: relative;
  
  min-height: calc(100vh - 51px);
  background-color: #DDDDDD;
  .options__container {
    padding-top: 2em;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    flex-wrap: wrap;

    .options-data{
      display: flex;
      flex-basis: 100%;
      margin-top: 2em;
      flex-wrap: wrap;
      .options-data__container{
        display: flex;
        flex-basis: 100%;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        .options-data__inputs{
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 1160px) {
             &{
               flex-basis: 100%;
               .input__option-container{
                 width: 100%;
                 & > input{
                   width: 95%;
                 }
               }
             }
          }
          .input__option-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & > input{
              margin-bottom: .5em;
              margin-top: .5em;
              border: 1px solid #100e22;
              background-color: #100e22;;
              outline: none;
              font-family: 'Nunito Sans';
              color:#dddddd;
              font-size: 1.4em;
              &:active{
                background-color: #dddddd;
                color:#100e22;
              }
              &:focus{
                background-color: #dddddd;
                color:#100e22;
              }
            }
          }
        }
        .options-data__inputs-right{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          @media screen and (max-width: 1160px) {
            &{
              flex-basis: 100%;
              .textarea__container{
                padding: 0!important;
                width: 100%;
                .textarea__option{
                  width:95%;

                }
              }
            }
          }
          .textarea__container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .textarea__option{
              margin-bottom: .5em;
              margin-top: .5em;
              border: 1px solid #100e22;
              background-color: #100e22;
              outline: none;
              font-family: 'Nunito Sans';
              color:#dddddd;
              font-size: 1.2em;
              &:active{
                background-color: #dddddd;
                color:#100e22;
              }
              &:focus{
                background-color: #dddddd;
                color:#100e22;
              }
            }
          }
        }
      }
    }





    .options-presets{
      flex-basis: 100%;
      display: flex;
      .options-presets__container{
        flex-basis: 100%;
        .new-preset{
          .new-preset__container{
            margin-top: 2em;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .new-preset__item{
              flex-basis: 20%;
              .item-link{
                display: block;
                position: relative;
                width: 50px;
                height: 50px;
                &:hover{
                  animation: plusAnimate ease-in-out 0.8s infinite alternate;
                }
              }
            }
          }
        }




        display: flex;
        flex-direction: column;
        .presets-list{
          display: flex;
          flex-direction: column;
          .presets-list__label{
            .label{
              font-family: 'Nunito Sans';
              font-size: 1.2em;
              font-weight: bolder;
              color:#100e22;
            }
          }
          .preset-list__items{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            .preset-list__item{
              margin-top: 1em;
              flex-basis: 25%;
              & > button{
                width: 90%;
                outline: none;
                border: none;
                background-color: #100e22;
                color:#dddddd;
                font-family: 'Nunito Sans';
                font-size: 1.4em;
                cursor: pointer;
                &:active{
                  background-color: #787878;;
                }
              }
            }
          }
        }
      }
    }
  }
}

.icon-svg{

  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top:0;
  left:0;
  fill:#100e22;
}